{% extends 'base.html.twig' %}

{% block title %}
    {{ 'category_info'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'category_info'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ category.category_name}}</dd>
            <dt>{{ 'category_recipes'|trans }}</dt>
{% for recipe in category.getRecipes %}
    <a href="{{ url('recipe_show',{id: recipe.id}) }}">{{ recipe.recipe_name }}<br>
    </a>
{% endfor %}
        </dl>


        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action_back_to_category_list'|trans }}">
                {{ 'action_back_to_category_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}