{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'user_list'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'user.id') }}</th>

                <th>{{ knp_pagination_sortable(pagination, 'email'|trans, 'user.email') }}</th>

                <th>{{ 'label_nickname'|trans }}</th>
                <th>{{ 'label_name'|trans }}</th>
                <th>{{ 'label_lastname' |trans}}</th>


                <th>{{ 'label_data_change'|trans }}</th>





            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.userData.nickname }}
                    </td>
                    <td>{{ user.userData.name }}</td>
                    <td>{{ user.userData.surname }}</td>

<td>
    <a href="{{ url('password_edit', {id: user.id}) }}" title="{{ 'akcja_edit'|trans }}">
    <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="9" x="2.5" y="7" rx="2"/>
        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
    </svg>

        </a>
    <a href="{{ url('userdata_edit', {id: user.userData.id}) }}" title="{{ 'akcja_edit'|trans }}">
        <svg class="bi bi-person-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>

    </a>

    
</td>
                    <td>

            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}