{% extends 'base.html.twig' %}

{% block title %}Formularz rejestracji{% endblock %}

{% block body %}
    <h1>Formularz rejestracji</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.userData) }}
        {{ form_row(registrationForm.agreeTerms) }}


        <button type="submit" class="btn btn-lg btn-primary" >Zajestruj się</button>
    <a href="{{ url('app_login') }}" class="btn btn-link" style="background-color: white">
        {{ 'Posiadasz już konto? Zaloguj się'|trans }}
    </a>
    {{ form_end(registrationForm) }}
{% endblock %}
