{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Lista przepisów'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Lista przepisów'|trans }}</h1>
    <p>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ url('recipe_create')}}" title="{{ 'akcja_create'|trans }}"> {{ 'Utwórz nowy przepis' }}</a>
    </p>

    {% endif %}


    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID przepisu'|trans, 'recipe.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data stworzenia'|trans, 'recipe.creation_date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ranking'|trans, 'recipe.rating') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nazwa'|trans, 'recipe.recipe_name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Opis przepisu'|trans, 'recipe.recipe_description') }}</th>

                <th>{{ 'Kategoria'|trans }}</th>
                <th>{{ 'Działanie'|trans }}</th>




            </tr>
            </thead>
            <tbody>

            <p>

                <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}">
                    {{ 'Wróć do listy przepisów'|trans }}
                </a>
            </p>
            &nbsp;<div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtruj według kategorii
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% set newArray = [] %}
                    {% for recipe in pagination %}

                        {% set category=recipe.category %}
                        {%  if category not in newArray %}
                            <a class="dropdown-item" href="{{ url('recipe_index', {'filters' : {'category' :category.id}}) }}" title="{{category.category_name }}">
                                {{category.category_name }}
                            </a>
                            {% set newArray = newArray|merge([category]) %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filtruj według tagu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% set newArray = [] %}
                    {% for recipe in pagination %}

                    {% if recipe.tags is defined and recipe.tags|length %}
                        {% for tag in recipe.tags %}
                            <a class="dropdown-item" href="{{ url('recipe_index', {'filters' : {'tag' : tag.id}}) }}" title="{{ tag.tag_name }}">
                                {{ tag.tag_name }}
                            </a>

                        {% endfor %}
                    {% endif %}
                    {% endfor %}




            </div>
            </div>

                <br>

            {% for recipe in pagination.items %}






                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.creation_date|date('d/m/Y') }}</td>
                    <td>
{{ recipe.rating }}
                    </td>
                    <td>{{ recipe.recipe_name}}</td>
                    <td>{{ recipe.recipe_description }}</td>

                    <td>{{ recipe.category.category_name }}</td>

                    <td>

                        <a href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'akcja_view'|trans }}">
                            <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>

                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'akcja_edit'|trans }}">
                            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg>
                        </a>
                        <a href="{{ url('recipe_delete', {id: recipe.id}) }}" title="{{ 'akcja_delete'|trans }}">
                            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}