{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Informacje o przepisie'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}

    <h1>{{ 'Informacje o przepisie'|trans({'%id%': recipe.id|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'ID przepisu'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'Nazwa przepisu'|trans }}</dt>
            <dd>{{  recipe.recipe_name }}</dd>
            <dt>{{ 'Kategoria'|trans }}</dt>
            <dd>{{  recipe.category.category_name }}</dd>
            <dt>{{ 'Opis przepisu'|trans }}</dt>
            <dd>{{ recipe.recipe_description }}</dd>

            <dt>{{ 'Data dodania'|trans }}</dt>
            <dd>{{ recipe.creation_date|format_date('long') }}</dd>
            <dt>{{ 'Ranking'|trans }}</dt>
            <dd>{{ recipe.rating }}</dd>
            <dt>{{ 'Tagi' }}</dt>
            {% for tag in recipe.getTags %}
                <a href="{{ url('tag_show',{id: tag.id}) }}">{{ tag.tag_name }}<br>
                </a>
            {% endfor %}

            <dt>{{ 'Dodaj nowy komentarz i oceń przepis' }}</dt>
            <dd> {{ form_start(form, { method: 'POST', action: url('recipe_show', {id: recipe.id}) }) }}
                {{ form_widget(form) }}

                <div class="form-group row float-sm-right">
                    <input type="submit" name="submit_comment" value="{{ 'Zapisz'|trans }}" class="btn btn-primary" />
                </div>


            </dd>





            <dt>{{ 'Komentarze' }}</dt>

            <dd>

                <ul class="list-group-flush" >

                    {% for comment in recipe.getComments %}
                        <li class="list-group-item">
                            <div class="author">
                                {{ comment.author.userData.nickname }}

                            </div>
                            <div class="date">
                                {{ comment.comment_date|date('Y/m/d') }}<br>
                            </div>
                            {{ comment.comment_content }}<br>
                            {% if is_granted('EDIT', comment) or is_granted ('ROLE_ADMIN') %}
                            <a href="{{ url('comment_edit', {id: comment.id}) }}" title="{{ 'akcja_edit'|trans }}">
                                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                </svg>
                            </a>
                            {% endif %}
                            {% if is_granted('DELETE', comment) or is_granted ('ROLE_ADMIN') %}
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'akcja_delete'|trans }}">
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                            {% endif %}
                        </li>
                    {% endfor %}

               </ul>

            </dd>

        </dl>
        <p>
            <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'Wróć do listy przepisów'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}