<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    {% endblock %}
</head>
<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Książka kucharska</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{url('recipe_index') }}">{{ 'title_recipe_list'|trans}}</a>
            </li>
            {% if not is_granted ('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{url('app_register') }}">{{ 'registration'|trans }}</a>
            </li>
            {% endif %}

            {% if is_granted ('ROLE_USER') %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url('tag_index') }}">{{ 'tag_list'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('comment_index') }}">{{ 'comment_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_index') }}">{{ 'user_list'|trans }}</a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url('password_edit', {id: app.user.id}) }}">{{ 'change_password'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('userdata_edit', {id: app.user.userData.id}) }}">{{ 'change_user_data'|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a>
            </li>
        </ul>

    </div>
</nav>


{% endif %}
</header>
{% if app.user and is_granted ('ROLE_USER') %}
    <div class="mb-3">
       Jesteś zalogowany jako {{ app.user.userData.nickname }}
    </div>
{% endif %}

<div class="container-fluid">

    <div class="container-fluid">

        {% block body %}{% endblock %}
    </div>

</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>